.item {
  border-bottom: 1px solid rgb(229, 229, 229);;
}

.item:last-of-type {
  border-bottom: none;
}

.users {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  border-collapse: collapse;
  border-spacing: 0;
}

.buttonsContainer {
  display: flex;
  margin-bottom: 18px;
  gap: 12px;
  width: 100%;
  justify-content: flex-end;
}

.container {
  max-width: 610px;
}

.ageCol {
  font-weight: 600;
}

.thead .nameCol {
  padding: 10px 0 10px 18px;
}

.thead {
  background-color: rgb(229, 229, 229);
  font-weight: 600;
}

.nameCol {
  padding: 16px 0 16px 18px;
  width: 50%;
}
